/**
 * =============================================================================
 * This is the file where all your styling should go in.
 * Instead of modifying the styles found in the monogatari.css file or others,
 * you should overwrite those styles in this file.
 *
 * The CSS selectors shown are not an extensive list but they are the most
 * common you might want to change. To find what other elements are available,
 * you can take a look at the monogatari.css file or use your browser's dev
 * tools to inspect the elements.
 * =============================================================================
**/

/**
 * ===========================
 * General Styling
 * ===========================
**/

/* General Style */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cambo&family=Lora:wght@400;500;600;700&family=PT+Serif&display=swap');
@font-face {
	font-family: 'League Spartan';
	src: url('../assets/ui/fonts/leaguespartan-bold-webfont.woff2') format('woff2'), url('../assets/ui/fonts/leaguespartan-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'Cambo', sans-serif;
	color: #8d8379;
}

/* settings-screen, menu-screen {
	color: white;
} */

.btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70%
}

.btn-container button {
	/* background: none; */
	/* border-radius: 25px;
	border: 2px solid white; */
	background: url('../assets/ui/buttonBg.png');
	display: flex;
	align-items: center;
	width: 60%;
}

.btn-container button .icon {
	width: 40%;
}

h3 {
	font-size: 30px;
}

h2 {
	background: url('../assets/ui/header.png');
	background-size: cover;
	font-weight: 400;
	color: rgb(185, 179, 171);
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	font-family: 'Lora';
	font-size: 36px;
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 2%;
}

.top.left[data-action="back"]{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(144, 122, 78);
	background-color: rgb(21, 23, 25);
	opacity: 0.949;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 0;
	padding: 0;
	margin: .5rem;
	height: 2rem;
	width: 2rem;
	/* z-index: 99999; */
}

.top.left[data-action="back"] .fa-arrow-left{
	color: rgb(165, 146, 130);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.35);
	padding: 0;
	margin: 0;
}

.close-right{
	border-style: solid;
	border-width: 1px;
	border-color: rgb(144, 122, 78);
	background-color: rgb(21, 23, 25);
	opacity: 0.949;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 0;

	padding: 0;
	margin: .5rem;
	height: 2rem;
	width: 2rem;
	z-index: 99999;

	top:0;
	right: 0;
	left: auto;
	bottom: auto;
}

.close-right .fa-times{
	color: rgb(165, 146, 130);
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.35);
	padding: 0;
	margin: 0;
}

/* Simple Button styles*/

button {}

/* Simple Button Style on Hover */

button:hover {}

/* General Styling for Menu Screens */

[data-screen]:not([data-screen="game"]) {
	/* background: url("../assets/ui/pausebg.png"); */
	/* color: white; */
	border-style: solid;
	border-width: 1px;
	border-color: rgb(144, 122, 78);
	background-color: #141618;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	background-position: center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;
}

h2[data-string="History"]{
	width: 100%;
}

.modal__content{
	border-style: solid;
	border-width: 2px;
	border-color: rgb(144, 122, 78);
	background-color: #151719;
	opacity: 0.949;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 0;

	/* width: 100%;
	height: 100%; */
}

dialog-log .modal__content [data-content="log"]{
	/* max-width: 100%;
	max-height: 100%; */
}

[data-string="Close"]{
	background: url('../assets/ui/close.png');
	padding: 10%;
}

[data-content="log"] {
}

h3 {
	color: rgb(204, 188, 170);
}

/**
 * ===========================
 * Main Menu Styling
 * ===========================
**/

/* Main Menu Styling */

[data-screen="main"] {
	/* background: url('../assets/ui/mainbg.png'); */
	background-position: center;
	background-size: cover;
	/* align-items: center; */
}

main-menu {
	align-self: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 0;
	width: 70%;
}

/* Main Menu Buttons Styling */

[data-screen="main"] button {
	/* text-align: center; */
	background: url('../assets/ui/buttonBg.png');
	/* border-radius: 25px; */
	/* border: 1.5px solid white; */
	display: flex;
	align-items: center;
	width: 70%;
	/* justify-content: center; */
}

[data-screen="main"] .icon {
	/* justify-self: left; */
	/* color: red; */
	justify-self: left;
	/* padding-left: 3%; */
	/* align-self: flex-start; */
	/* text-align: left; */
	/* margin-right: 5%; */
	width: 30%;
}

[data-screen="main"] .icon+span {
	/* color: red; */
	/* width: 45%; */
	text-align: center;
	align-self: center;
	justify-self: center;
}

/**
 * ===========================
 * Save and Load Menus Styling
 * ===========================
**/

/* Slots Style */

[data-component="save-slot"] {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(144, 122, 78);
	background-color: rgb(21, 23, 25);
	opacity: 0.949;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);

	/* border-radius: 10px; */
	/* padding: 2%; */
}

/* Slot's Image Style */

[data-component="save-slot"] img {
	/* border-radius: 10px 10px 0px 0px; */
}

[data-component="save-slot"] .background {
	/* border-radius: 10px 10px 0px 0px; */
}

/* Slots Title Style */

[data-component="save-slot"] figcaption {}

/* Slots Delete Button Style */

[data-component="save-slot"] button {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(144, 122, 78);
	background-color: rgb(21, 23, 25);
	opacity: 0.949;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	border-radius: 100%;

	margin-right: 1%;
}

[data-component="save-slot"] .badge{
	/* border-radius: 10px 0 0 0; */
}
/**
 * ===========================
 * Game Elements Styling
 * ===========================
**/

/* Choice Buttons style */

[data-component="choice-container"] button {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(144, 122, 78);
	background-color: rgb(27, 29, 30);
	opacity: 0.949;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
	color: #998f81;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	/* font-size: 1.2rem; */
	line-height: 1.412;
	border-radius: 0;
	width: 100%;
}

/* Choice Button Style on Hover */

[data-component="choice-container"] button:hover {}

/* Text Box styling */

[data-component="text-box"] {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(69, 60, 42);
	background-color: rgb(27, 29, 30);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
	color: rgb(106, 94, 83);
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
	/* font-size: 1.2rem; */
	line-height: 1.412;
}

/* Character Name Style */

[data-ui="who"] {
	border-bottom: 1.5px solid rgb(144, 122, 78);
	/* text-align: center; */
	/* padding-top: 2%; */
	font: 'Lora';
}

[data-ui="say"] {
	/* border-bottom: 1.5px solid rgb(144, 122, 78); */
	/* text-align: center; */
	margin-top: 10px;
	/* font: 'Lora'; */
}

/* Style for Centered Text */

[data-component="centered-dialog"] {}

/* Character Images Styles */

[data-screen="game"] [data-character] {}

/* Other Images Styles */

[data-screen="game"] [data-image] {}

/* .fa-eye-slash {
	opacity: 0;
}

.fa-eye{
	opacity: 1;
} */

/**
 * ===========================
 * Quick Menu Styling
 * ===========================
**/

/* These styles are applied to the Mobile version of the Quick Menu */

/* Quick Menu Style */

/**
 * ===========================
 * Quick Menu Component
 * ===========================
 */

[data-component="quick-menu"] {
	/* bottom: 0;
	top: auto;
	color: white; */
	/* border: none; */
	background: none;
}

[data-component="quick-menu"] button {}

[data-component="quick-menu"] button:hover, [data-component="quick-menu"] button:focus {
	/* bottom: 0;
	top: auto;
	color: white; */
	border: none;
}

/* Quick Menu Buttons Style on Hover */

[data-component="quick-menu"] span:hover {
	/* bord */
}

/* Quick Menu Buttons Icon Style */

[data-component="quick-menu"]>span>.fa {}

.transparent {
	opacity: 0;
}

[data-component="new-menu"] {
	position: absolute;
}

/**
 * ===========================
 * Range Styling
 * ===========================
**/

/* Use the background property to set a color for these */

input[type="range"] {
	-webkit-appearance: none;
	overflow: hidden;

	appearance: none;
	width: 100%;
	height: 25px;
	
	/* background-color: #1b1d1e; */
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
	transition: opacity .2s;


	display: inline-block;
	text-align: center;
	align-self: center;
	justify-content: center;
	align-content: center;
	margin-right: 0;
	margin-left: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(57, 58, 59);
	background-color: rgb(71, 73, 74);
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 25px;
	cursor: pointer;

	box-shadow: -80px 0 0 80px rgb(138, 117, 75);
}

input[type="range"]::-moz-range-thumb {
	width: 15px;
	height: 25px;
	border: none;
	background: url('../assets/ui/handler.png');
	background-size: contain;
	border-radius: 0;
	cursor: pointer;
	opacity: 1;
}


input[type="range"]::-moz-range-track {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(57, 58, 59);
	background-color: rgb(71, 73, 74);
}

input[type=range]::-ms-fill-lower {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(69, 59, 38);
	background-color: rgb(138, 117, 75);
}

input[type=range]::-ms-fill-upper {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(57, 58, 59);
	background-color: rgb(71, 73, 74);
}

/* FILL */

input[type="range"]::-moz-range-progress {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(69, 59, 38);
	background-color: rgb(138, 117, 75);
}

/** Medium Screens, Phablets (601px) **/

@media screen and (min-width: 37.56255em) {
	/* Styles for the desktop version of the Quick Menu */
	/* Quick Menu Style */
	[data-component="new-menu"] {}
	/* Quick Menu Buttons Style */
	[data-component="new-menu"] span {}
	/* Quick Menu Buttons Style on Hover */
	[data-component="new-menu"] span:hover {}
}

/** Medium Devices, Tablets (992px)**/

@media screen and (min-width: 62em) {}

/** HD Screen, Large Devices, Wide Screens, Desktop (1200px) **/

@media screen and (min-width: 75em) {}

/** Full HD Screen, Large Devices, Wide Screens, Large Desktops (1920px) **/

@media screen and (min-width: 120em) {}

/** Retina Screen , Large Devices, Wide Screens(2560px) **/

@media screen and (min-width: 160em) {}

/** 4k Screens, Large Devices, Wide Screens (3840px) **/

@media screen and (min-width: 240em) {}

/** 5k Screens, Large Devices, Wide Screens (5000px) **/

@media screen and (min-width: 312.5em) {}

/** 8k Screens, Large Devices, Wide Screens (8000px) **/

@media screen and (min-width: 500em) {}